# Arquivos de Licença Sensíveis
freesurfer_license.txt
license.txt
*.license

# Configurações de Ambiente (CRÍTICO!)
env_config.sh
.env
.env.*
config.sh

# Dados Pessoais e Configurações
**/config/personal_*
**/secrets/
*.key
*.pem
*.crt

# Logs com possíveis dados sensíveis
**/*_test*.log
test_logs/
logs/
output.log
*.log

# Dados de Output que podem conter informações médicas
**/test_*_output/
**/fastsurfer_output/
**/oasis_data/processed/

# Arquivos temporários
*.tmp
*.temp
temp_*

# Notebooks com dados
*.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Modelos treinados (se contiverem dados sensíveis)
# *.h5
# *.joblib

# Arquivos muito grandes (>2GB) que excedem limites do Git LFS
freesurfer-linux-ubuntu22_amd64-7.4.1.tar.gz
cuda-repo-ubuntu2404-12-9-local_12.9.1-575.57.08-1_amd64.deb

# Diretórios de dados processados
oasis_data/processados_T1/
oasis_data/processing_logs/
oasis_data/fastsurfer_logs_oficial/
oasis_data/outputs_fastsurfer_definitivo_todos/
oasis_data/outputs_fastsurfer_oficial/
oasis_data/test_fastsurfer_definitivo/
oasis_data/test_rapido_fastsurfer/

# Arquivos de crash e pickle
*.pklz
crash-*.pklz

# Arquivos temporários de processamento
processamento_definitivo.pid

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Git Annex
.git/annex/index.lck
.git/annex/journal.lck
# raw MRI
/data/raw/

